@{
    ViewData["Title"] = "Home Page";
}

  @* //DONE 7: missing code 0.5pt *@
  <div id="react-app">Loading...</div>
  @* ///// *@
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
